.head__title {
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
}
.transformX-0 {
	@include breakpoint(max-width 1024px) {
		transform: translateX(0)!important;
	}
}
.nopadding {
	@include breakpoint(max-width 1024px) {
		padding: 0 !important;
	}
}
.head__slider--description  .inside-slide__title {
	margin-bottom: 0;
	padding: 20px 40px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 36px;
	color: #ffe9ba;
	background-color: #0e112f;
	@include breakpoint(max-width 600px) {
		font-size: 14px;
	}
}

.head__slider--description_inside {
	top: auto;
	bottom: 70px;
	left: 0;
	width: auto;
	@include breakpoint(max-width 600px) {
		transform: translate(0, 0);
	}
}

.head__slider_inside::before {
	display: none;
}

.inside-desc {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 40px;
	background-color: #f2f2f4;
	@include breakpoint(max-width 1080px){
		justify-content: space-around;
	}
	&__wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 65%;
		@include breakpoint(max-width 1080px){
			width: 100%;
		}
		@include breakpoint(max-width 600px){
			flex-direction: column;
		}
	}

	&__address {
		font-family: 'Playfair Display', serif;
		color: #b89855;
		.address__title {
			display: block;
			margin: 10px 0;
			font-weight: 400;
			font-style: italic;
			font-size: 24px;
		}
		.address__text {
			margin: 5px 0;
			font-weight: 400;
			font-style: italic;
		}
	}
	&__cost {
		.cost__text {
			margin-top: 0;
			margin-bottom: 10px;
			font-family: Lato, sans-serif;
			font-size: 16px;
			text-align: right;
			color: #030621;
			@include breakpoint(max-width 600px){
				text-align: left;
			}
		}
		.cost__number {
			font-size: 28px;
		}
	}

	&__map-btn {
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 200px;
		height: 45px;
		color: #b89855;
		font-size: 13px;
		text-transform: uppercase;
		border: 1px solid #b89855;
		background-color: transparent;
		@include breakpoint(max-width 1080px){
			margin-top: 40px;
		}
	}



}


