.map {
  position: relative;
  width: 100%;
  &__wrap {
    display: none;
    position: relative;
    width: 100%;
  }
  &__wrapper {
    width: 100%;
    position: relative;
    padding: 15px;
    background-color: #b89855;
  }
  &__btn {
    position: relative;
    width: 275px;
    height: 42px;
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 41px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    padding-right: 30px;
    font-size: 14px;
    text-transform: uppercase;
    overflow: hidden!important;
    &:before {
      content: '';
      position: absolute;
      width: 12px;
      height: 7px;
      background: url("../img/icons/arrow-up.svg") no-repeat center center;
      right: 15px;
      top: 15px;
      transform: rotate(180deg);
      transition: 200ms ease;
    }
  }
  .active {
    width: 275px!important;
    &:before {
      transform: rotate(0);
      transition: 200ms ease;
    }
  }
  &__title {
    text-align: center;
    color: #030621;
    font-family: $latoBlack;
    font-size: 24px;
    text-transform: uppercase;
    margin: 40px 0;
    span {
      color: #edb132;

    }
  }
}