.partners {
  position: relative;
  width: 100%;
  float: left;
  background: #fff;
  &__title {
    color: #030621;
    font-family: $latoBlack;
    font-size: 24px;
    text-transform: uppercase;
    position: relative;
    margin: 60px auto;
    text-align: center;
    &:after {
      content: '';
      position: absolute;
      display: block;
      transform: translateX(-50%);
      left: 50%;
      width: 79px;
      height: 4px;
      background-color: #edb132;
      top: 40px;
      @include breakpoint(max-width 770px) {
        top: 70px;
      }
    }
  }
  &__wrap {
    position: relative;
    width: calc(100% - 100px);
    margin: 0 auto 60px auto;
    @include breakpoint(max-width 992px) {
      width: 100%;
    }
  }
  &__item {
    width: 155px;
    height: 80px;
    margin: 0 10px;
    display: block;
    float: left;
    @include breakpoint(max-width 770px) {
      float: none;
      margin: 0 auto;
      width: 100px;
      height: 60px;
    }
    @include breakpoint(max-width 500px) {
      width: 80px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__contacts {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    background-color: #0e112f;
    .sidebar__feedback {
      width: auto;
      margin-bottom: 0;
    }
    span {
      margin-right: 15px;
      color: #ffffff;
      font-size: 14px;
      @include breakpoint(max-width 770px) {
        margin-bottom: 20px;
      }
    }
    .btn-phone {
      padding: 10px;
      background-color: #edb132;
      color: #0e112f;
      font-family: $latoBlack;
      font-size: 15px;
      animation: btn 5s infinite ease;
      font-weight: 700;
      margin-left: 10px;
      margin-right: 20px;
      transition: 200ms ease;
      @include breakpoint(max-width 770px) {
        margin-bottom: 20px;
      }
      &:hover {
        background: lighten(#edb132, 10%);
        transition: 200ms ease;
      }
      span {
        color: #0e112f;
      }
    }
  }
  .owl-nav {
    position: absolute;
    top: 30%;
    width: 100%;
    @include breakpoint(max-width 770px) {
      top: 15%;
    }
  }
  .owl-prev {
    position: absolute;
    left: -50px;
    color: #edb132;
    font-size: 35px;
    @include breakpoint(max-width 992px) {
      left: 10px;
    }
  }
  .owl-next {
    position: absolute;
    right: -50px;
    color: #edb132;
    font-size: 35px;
    @include breakpoint(max-width 992px) {
      right: 10px;
    }
  }
}

@keyframes btn {
  0% {
    box-shadow: 0 0 0 0 rgba(184, 152, 85, 1);

  }
  100% {
    box-shadow: 0 0 0 15px rgba(184, 152, 85, .05);
  }
}
