.property-selection {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  padding: 60px 35px;
  background-image: -ms-linear-gradient(top, rgb(240, 240, 240) 70%, rgb(237, 177, 50) 200%);
  background-image: -moz-linear-gradient(top, rgb(240, 240, 240) 70%, rgb(237, 177, 50) 200%);
  background-image: -o-linear-gradient(top, rgb(240, 240, 240) 70%, rgb(237, 177, 50) 200%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70, rgb(240, 240, 240)), color-stop(200, rgb(237, 177, 50)));
  background-image: -webkit-linear-gradient(top, rgb(240, 240, 240) 70%, rgb(237, 177, 50) 200%);
  background-image: linear-gradient(to bottom, rgb(240, 240, 240) 70%, rgb(237, 177, 50) 200%);
  @include breakpoint(max-width 770px){
    padding: 30px 10px;
  }
  &__title {
    color: #030621;
    font-family: $latoBlack;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 35px 0;
  }
  form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__rooms{
    margin-top: 60px;
   display: flex;
    align-items: center;
  }
  &__numbers{
    background-color: #ffffff;
    text-align: center;
    padding: 15px;
    margin: 0 5px;
    width: 50px;
    color: #b89855;
    font-family: $latoBold;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid transparent;
  }
  .btn-white{
    top: inherit;
    color: #b89855;
    border-color: #b89855;
    position: relative;
    margin-top: 40px;
    @include breakpoint(max-width 770px){
      margin-top: 20px;
    }
    &:after{
      content: 'Найдено 1645 квартир';
      left: 50%;
      top: 100%;
      width: 100%;
      text-transform: none;
      color: #030621;
      transform: translateX(-50%);
      font-size: 13px;
      font-weight: 400;
      margin-top: 10px;
      text-align: center;
      position: absolute;
    }
    &:before{
      background-image: url(../img/icons/arrow-r2.svg);
    }
  }
  .active{
    border: 1px solid #b89855;
  }
  &__range-slide {
    position: relative;
    float: left;
    width: 48%;
    @include breakpoint(max-width 770px){
      width: 88%;
      margin: 0 auto;
    }
  }
  &__range-slide_area {
    .title-range {
      display: inline-block;
      margin-top: 8px;
    }
  }
.title-range{
  margin-right: 10px;
  color: #b89855;
  font-size: 14px;
  font-family: $latoBold;
}
  .range-slider {
    *zoom: 1;
    margin: 20px 0;
    position: relative;
    text-align: center;
    .label{
      position: absolute;
      left: 3px;
      top: 21px;
      height: 11px;
      width: 1px;
      background: #b89855;
      &:before{
        content: '0';
        position: absolute;
        top: 17px;
        left: -3px;
        color: #b89855;
        font-size: 12px;
      }
    }
  }
  .range-slider:before, .range-slider:after {
    content: " ";
    display: table;
  }
  .range-slider:after {
    clear: both;
  }
  .range-slider .track {
    bottom: 15px;
    height: 4px;
    left: 0;
    position: absolute;
    width: 0;
    z-index: 50;

  }
  @media (min-width: 640px) {
    .range-slider .track {
      bottom: 15px;
    }
  }
  @media (min-width: 1024px) {
    .range-slider .track {
      bottom: 15px;
    }
  }
  .range-slider .track--full {
    background: #fff;
    width: 100%;
    &:before{
      content: '';
      position: absolute;
      right: 2px;
      top: 10px;
      height: 11px;
      width: 1px;
      background: #b89855;
    }
    &:after{
      content: '';
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      top: 10px;
      height: 11px;
      width: 1px;
      background: #b89855;
    }
  }
  .range-slider .track--included {
    background: #b89855;

  }
  .range-slider .slider-thumb {
    border-radius: 50%;
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 0 3px rgba(184, 152, 85, 0.16);
    border: 3px solid #ffffff;
    background-color: #b89855;
    left: 0;
    position: absolute;
    z-index: 101;
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .range-slider .slider-thumb {
      display: block;
    }
  }
  @media (min-width: 640px) {
    .range-slider .slider-thumb {
      width: 30px;
      height: 30px;
    }
  }
  @media (min-width: 1024px) {
    .range-slider .slider-thumb {
      width: 30px;
      height: 30px;
    }
  }
  .range-slider [type=range] {
    -webkit-appearance: none;
    background: none;
    height: 30px;
    margin: 0;
    outline: none;
    padding: 0;
    pointer-events: none;
    position: relative;
    width: 100%;
    z-index: 75;
  }
  @media (min-width: 640px) {
    .range-slider [type=range] {
      height: 30px;
    }
  }
  @media (min-width: 1024px) {
    .range-slider [type=range] {
      height: 30px;
    }
  }
  .range-slider [type=range]:focus {
    outline: none;
  }
  .range-slider [type=range]::-moz-focus-outer {
    border: 0;
  }
  .range-slider [type=range]:first-of-type {
    float: left;
    margin-bottom: -30px;
  }
  @media (min-width: 640px) {
    .range-slider [type=range]:first-of-type {
      margin-bottom: -30px;
    }
  }
  @media (min-width: 1024px) {
    .range-slider [type=range]:first-of-type {
      margin-bottom: -30px;
    }
  }
  .range-slider [type=range]:last-of-type {
    float: right;
    margin-bottom: 0;
  }
  .range-slider [type=range]::-webkit-slider-runnable-track {
    background: none;
    border: 0;
    height: 6px;
    z-index: -1;
  }
  .range-slider [type=range]::-ms-fill-lower {
    background: none;
    border: 0;
  }
  .range-slider [type=range]::-ms-fill-upper {
    background: none;
    border: 0;
  }
  .range-slider [type=range]::-ms-track {
    background: transparent;
    border: 0;
    border-color: transparent;
    color: transparent;
    height: 6px;
    z-index: -1;
  }
  .range-slider [type=range]:focus::-ms-fill-lower {
    background: none;
    border: 0;
  }
  .range-slider [type=range]:focus::-ms-fill-upper {
    background: none;
    border: 0;
  }
  .range-slider [type=range]::-moz-range-track {
    -moz-appearance: none;
    background: none;
    border: 0;
    height: 6px;
    z-index: -1;
  }
  .range-slider [type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #555;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    width: 23px;
    height: 23px;
    margin-top: -12px;
    outline: 0;
    pointer-events: all;
    position: relative;
    z-index: 100;
  }
  @media (min-width: 640px) {
    .range-slider [type=range]::-webkit-slider-thumb {
      margin-top: -12px;
      width: 23px;
      height: 23px;
    }
  }
  @media (min-width: 1024px) {
    .range-slider [type=range]::-webkit-slider-thumb {
      margin-top: -12px;
      width: 23px;
      height: 23px;
    }
  }
  .range-slider [type=range]::-ms-thumb {
    background: #555;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    margin-top: 0;
    pointer-events: all;
    position: relative;
    width: 30px;
    z-index: 100;
  }
  @media (min-width: 640px) {
    .range-slider [type=range]::-ms-thumb {
      height: 30px;
      width: 30px;
    }
  }
  @media (min-width: 1024px) {
    .range-slider [type=range]::-ms-thumb {
      height: 30px;
      width: 30px;
    }
  }
  .range-slider [type=range]::-moz-range-thumb {
    -moz-appearance: none;
    background: #555;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    margin-top: -12px;
    pointer-events: all;
    position: relative;
    width: 30px;
    z-index: 100;
  }
  @media (min-width: 640px) {
    .range-slider [type=range]::-moz-range-thumb {
      height: 30px;
      margin-top: -12px;
      width: 30px;
    }
  }
  @media (min-width: 1024px) {
    .range-slider [type=range]::-moz-range-thumb {
      height: 30px;
      margin-top: -12px;
      width: 30px;
    }
  }
  .range-slider .output,
  .range-slider output {
    background: transparent;

    border-radius: 4px;
    display: inline-block;
    height: 2.5em;
    left: 50%;
    line-height: 2.5em;
    position: absolute;
    text-align: center;
    top: 100%;
    transform: translate(-50%, 0);
    color: #b89855;
    font-size: 12px;
  }

  .custom-select{
    width: 50%;
    margin-top: 60px;
    .select-items{
      z-index: 9999;
    }
    @include breakpoint(max-width 770px){
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;

      &:nth-of-type(3){
        margin-top: 60px;
        margin-bottom: 0;
      }
    }
  }
}

#steps-fivepercent-slider .ui-slider-tip {
    visibility: visible;
    opacity: 1;
    top: -30px;
}

.slider,
.slider_area {
  max-width: 98%;
}

.slider_area  {
  margin-top: 26px;
}

.header-range {
  display: flex;
  align-items: center;

  &__btns {
    display: flex;
  }

  &__btn {
    display: block;
    width: 33px;
    padding: 5px 0;
    color: #b89855;
    background-color: transparent;
    border: 1px solid #b89855;
    border-left: none;

    &:first-child {
      border-left: 1px solid #b89855;
    }
  }

  &__btn_active {
    background-color: #b89855;
    color: white;
  }
}