@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i');

$gold: #b89855;

// 
// 
// COMMON
// 
//

[class*="ss-"] {
  font-family: 'Lato-light';
  color: #030621;
}

h1.ss-title {
  margin: 60px 0 50px;
  font-size: 35px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

.ss-wrapper {
  padding: 0 65px;
}

// 
// 
// END COMMON
// 
//

//
// 
// HEADER
// 
// 

.ss-header {
  background-image: url(../img/sea-symphony/bg-top.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.ss-header.bg-3{
  background-image: url(../img/sea-symphony/bg-3.jpg);
}

/* ASIDE */

.ss-header__aside {
  max-width: 385px;
  background-color: rgba(3, 6, 33, 0.9);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 60px;
  @include breakpoint(max-width 992px){
    left: -385px;
    width: 385px;
    position: fixed;
    top: 0;
    transition: .5s ease;
  }
  p, h1, span {
    text-align: center;
  }
  .sidebar__socials {
    display: flex;
    justify-content: center;
    a {
      margin: 7px;
    }
  }
}
.active{
  left: 0;
  top: 0;
  transition: .5s ease;
  z-index: 5;
  height: 100%;
  width: 100%;
  overflow-y: scroll;

}

.ss-header__logo {
  width: 50%;
  margin-top: 15px;
  img {
    width: 100%;
  }
}

.ss-header__address {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: #edd98a;
  font-weight: bold;
  font-size: 15px;
  margin-top: 3px;
  span {
    font-size: 21px;
  }
}

.ss-header__title {
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 35px;
  margin-top: 17px;
}

.ss-header__description {
  color: #fff;
  margin-top: 30px;
  line-height: 26px;
}

.ss-header__phon {
  color: $gold;
  font-size: 25px;
  margin-top: 20px;
  animation: out 2s infinite ease-out;
}

/* END ASIDE */

/* MENU */

.ss-header__menu {
  background-color: $gold;
  margin: 0;
  padding: 5px 25px;
  display: flex;
  justify-content: space-around;
  li {
    display: inline-block;
    border: 1px solid $gold;
    a {
      padding: 10px 15px;
      display: block;
      color: #fff;
      text-transform: uppercase;
      font-size: 16px;
    }
    &:hover {
      border: 1px solid #fff;
    }
  }
}

.ss-header__menu-icon {
  display: none;
}
.ss-header__menu-mobile{
  width: 100%;
  display: none;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0;
  @include breakpoint(max-width 992px){
    display: flex;
  }
  li a{
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px;
  }
}
@include breakpoint (max-width 900px) {
  .ss-header__menu {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    z-index: 10;
    padding-left: 50px;
    li {
      width: 100%;
      a {
        padding: 15px 15px;
      }
    }
  }


  .ss-header__menu-icon {
    width: 35px;
    height: 35px;
    padding: 5px 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    z-index: 10;
    cursor: pointer;
    span {
      display: block;
      width: 25px;
      height: 3px;
      background-color: $gold;
    }
  }
}

/* END MENU */

// 
// 
// END HEADER
// 
//

//
// 
// ABOUT
// 
//

/* QUICK */
.js_call-modal-2  .modal__title{
  font-size: 36px;
  color: #030621;
}
.js_call-modal-2 .modal__title-lvl-2{
  font-size: 16px;
  text-align: center;
  color: #b89855;
  font-style: italic;
}
.ss-about__quick {
  background-color: #f2f2f4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 45px;
  @include breakpoint(max-width 660px){
    padding: 15px;
  }
}

.ss-about__quick-address {
  color: $gold;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
  span {
    font-size: 24px;
  }
}

.ss-about__quick-price {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  span {
    font-size: 24px;
  }
}

.ss-about__button {
  font-size: 14px;
  text-transform: uppercase;
  color: $gold;
  border: 1px solid $gold;
  padding: 12px 27px 10px;
  font-weight: bold;
  background: #fff;
  outline: none;
  &:hover {
    background-color: $gold;
    color: #fff;
  }
}
.ss-about .build__btn{
  width: auto;
  height: auto;
}
/* END QUICK */

/* ICONS */

.ss-about__icons {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
  flex-wrap: wrap;
}

.ss-about__icons-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 200px;
  padding: 5px;
  img {
    height: 70px;
  }
  p {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #1a1e47;
    text-transform: uppercase;
    font-family: 'Lato-bold';
  }
}

/* END ICONS */

/* MAIN */

.ss-about__main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ss-about__main-items {
  width: 48%;
  h2 {
    margin-top: 0;
    font-size: 15px;
    font-family: 'Lato-bold';
  }
  p {
    font-size: 15px;
    margin: 20px 0;
  }
}

/* END MAIN */

/* OWL CAROUSEL */

.ss-about__owl-carousel {
  margin-left: -65px;
  width: calc(100% + 65px * 2);
  margin-left: -65px;
  overflow: hidden;
  .item {
    width: 300px;
    height: 220px;
    .owl-prev {
      background-color: rgba(3, 6, 33, 0.9);
      border-radius: 50%;
      width: 60px;
      height: 60px;
      position: absolute;
      top: calc(220px / 2 - 60px / 2);
      left: -20px;
      &:before {
        content: "";
        position: absolute;
        background-image: url(../img/icons/prev.png);
        width: 20px;
        height: 30px;
        background-repeat: no-repeat;
        top: calc(60px / 2 - 30px / 2);
        left: 28px
      }
    }
    .owl-next {
      background-color: rgba(3, 6, 33, 0.9);
      border-radius: 50%;
      width: 60px;
      height: 60px;
      position: absolute;
      top: calc(220px / 2 - 60px / 2);
      right: -20px;
      &:before {
        content: "";
        position: absolute;
        background-image: url(../img/icons/next.png);
        width: 20px;
        height: 30px;
        background-repeat: no-repeat;
        top: calc(60px / 2 - 30px / 2);
        right: 25px;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

}

/* EDN OWL CAROUSEL */

/* SELECT */

.ss-about__select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  flex-wrap: wrap;
  @include breakpoint(max-width 660px){
    margin: 20px 0;
  }
  span {
    text-transform: uppercase;
    margin-right: 10px;
    font-weight: 900;
    font-size: 14px;
  }
}

.ss-about__select__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  .ss-about__button {
    margin: 10px;
    text-transform: none;
    padding: 12px 15px 10px;
  }
}

/* END SELECT */

/* PRICE */

.ss-about__price {
  background-color: $gold;
  display: flex;
  justify-content: space-between;
  width: calc(100% + 65px * 2);
  margin-left: -65px;
  padding: 60px 90px;
  &-item {
    padding: 0 5px;
  }
  p {
    width: 100%;
    display: block;
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }
  .rooms {
    font-size: 14px;
  }
  .price {
    font-size: 18px;
    span {
      font-size: 40px;
    }
  }
}

/* END PRICE */

// 
// 
// END ABOUT
// 
//

//
// 
// SALE
// 
//

.ss-sale__items {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  flex-wrap: wrap;
}

.ss-sale__item {
  border: 1px solid #bb9c5c;
  width: 415px;
  margin: 3px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @include breakpoint(max-width 992px){
    margin: 0;
  }
  p {
    text-align: center;
    font-size: 14px;
  }

}
.ss-sale__owl-carousel {
  width: 220px;
  .item {
    width: 110px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 55px;

    img {
      width: 100%;
    }
  }
  .owl-prev {
    background-image: url(../img/icons/prev.png);
    width: 20px;
    height: 30px;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(150px / 2 - 30px / 2);
    left: 0;
  }
  .owl-next {
    background-image: url(../img/icons/next.png);
    width: 20px;
    height: 30px;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(150px / 2 - 30px / 2);
    right: 0;
  }
}

.ss-sale__wrapper-location {
  display: flex;
  width: 100%;
}

.ss-sale__location {
  width: 50%;
  border-top: 1px solid #bb9c5c;
  margin: 0;
  padding: 12px;
  display: flex;
  align-items: center;
  &:first-child {
    border-right: 1px solid #bb9c5c;
  }
}

.ss-sale__item-top {
  margin: 29px 0 22px;
  width: 100%;
}

.ss-sale__item-bottom {
  width: 100%;
  margin: 24px 0 36px;
  font-weight: bold;
  span {
    font-size: 22px;
  }
}

.ss-sale__button {
  background-color: #bb9c5c;
  width: 100%;
  text-align: center;
  padding: 14px 0 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

// 
// 
// END SALE
// 
//

//
// 
// BANKS
// 
//

/* SUGGESTIONS */

.ss-banks__suggestions {
  display: flex;
  flex-wrap: wrap;
}

.ss-banks__suggestions-items {
  width: calc(100% / 3);
  border-right: 2px solid $gold;
  padding: 15px 5px;
  &:last-child {
    border-right: none;
  }
  p {
    text-align: center;
    font-size: 18px;
    font-family: "Lato-bold";
    margin: 10px 0;
    &.top {
      color: $gold;
    }
  }
}

/* END SUGGESTIONS */

/* IMG */

.ss-bank__img {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  img {
    height: 60px;
    object-fit: contain;
    margin: 20px 40px;
  }
}

/* END IMG */

// 
// 
// END BANKS
// 
//

//
// 
// ACTION
// 
//

.ss-action {
  background-image: url(../img/sea-symphony/Слой141.jpg);
  .ss-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 65px;
    .blue {
      background-color: #3ed0ef;
    }
    .dark-blue {
      background-color: #53a8ef;
    }
    .purple {
      background-color: #6883fa;
    }
  }
}

.ss-action__item {
  margin: 3px;
  text-align: center;
  padding: 39px 30px;
  width: calc(100% / 3 - 6px);
  color: #fff;
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: bold;
  display: flex;
  align-items: center;
  span {
    margin: 0 auto;
  }
}

// 
// 
// END ACTION
// 
//

//
// 
// CALLBACK
// 
//

.ss-callback {
  background-color: #f2f2f4;
  .ss-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 55px 65px 35px;
  }
}

.ss-callback__text {
  padding-left: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  h1 {
    font-size: 35px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
  }
  p {
    color: $gold;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
  }
}

.ss-callback__phone {
  border: none;
  padding: 10px;
}

.ss-callback__button {
  background-color: $gold;
  border: none;
  padding: 12px 40px 10px;
  margin-left: -3px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

// 
// 
// END CALLBACK
// 
//

//
// 
// FOOTER
// 
//

.ss-footer {
  background-color: #1a1e47;
  .ss-wrapper {
    background-color: #1a1e47;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .ss-title {
      width: 100%;
      color: $gold;
    }
  }
  .sidebar__socials {
    justify-content: center;
  }
}

.ss-footer__contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .phone {
    text-align: center;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    margin: 0 30px 40px;
    p {
      color: #fff;
      margin: 0;
    }
    img {
      margin-right: 5px;
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
    span {
      font-size: 24px;
    }
  }
}

.ss-footer__copyright {
  color: $gold;
  text-align: center;
  margin: 60px 0;
  font-weight: bold;
}

// 
// 
// END FOOTER
// 
//

.ss-modal__call {
  display: flex;
  justify-content: center;
  text-align: center;
  .modal__overlay {
    background-color: rgba(3,6,33,.9);
  }
  .modal__content_call {
    background-color: #f2f2f4;
    height: 310px;
    h1 {
      margin-top: 15px;
    }
    p {
      margin-bottom: 15px;
    }
  }
  .ss-callback__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      margin-top: 15px;
    }
  }
}

.ss-callback-button {
  background-color: #ffdd00;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: fixed;
  right: 8vh;
  bottom: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: phone 2s infinite ease-out;
  cursor: pointer;
  z-index: 1;
  img {
    width: 25px;
  }
}

@keyframes phone {
  0% {
    box-shadow: 0 0 0 0 rgba(225, 221, 0, 1);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(225, 221, 0, .05);
  }
}

@keyframes phone-txt {
 0% {
   text-shadow: 1px 1px 3px #b89855, 0 0 0em #b89855;
 }
 100% {
   text-shadow: 2px 2px 10px #b89855, 0 0 3em #b89855;
 }
}

@include breakpoint(max-width 1152px) {
  .ss-sale__owl-carousel {
    width: 170px;
  }

  .ss-sale__owl-carousel .item {
    margin: 0 30px;
  }
}

@include breakpoint(max-width 900px) {
  .ss-wrapper {
    padding: 0 40px;
  }

  .ss-callback .ss-wrapper {
    padding: 40px;
  }

  .ss-action .ss-wrapper {
    padding: 20px 40px;
  }

  .ss-about__owl-carousel, .ss-about__price {
    width: calc(100% + 80px);
    margin-left: -40px;
  }

  .ss-sale__item {
    width: 48%;
    @include breakpoint(max-width 992px){
      width: calc(100vw - 60px);


    }
  }

  .ss-sale__owl-carousel {
    width: 220px;
  }

  .ss-sale__owl-carousel .item {
    margin: 0 55px;
  }

  .ss-bank__img img {
    height: 50px;
    margin: 20px 30px;
  }
}

@include breakpoint(max-width 700px) {
  .ss-about__quick {
    flex-direction: column;

  }

  .ss-about__main-items {
    width: 100%;
  }

  .ss-about__price {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .ss-about__price-item {
    width: 40%;
  }

  .ss-about__select span {
    width: 100%;
    text-align: center;
  }

  .ss-about__select__buttons {
    flex-wrap: wrap;
  }

  .ss-bank__img {
    flex-wrap: wrap;
  }
}

@include breakpoint(max-width 600px) {
  .ss-wrapper {
    padding: 0 10px;
  }

  .ss-callback .ss-wrapper {
    padding: 40px 10px;
  }

  .ss-action .ss-wrapper {
    padding: 10px 10px;
  }

  .ss-callback__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .ss-callback__button {
    margin-left: 0;
  }

  .ss-about__owl-carousel, .ss-about__price {
    width: calc(100% + 20px);
    margin-left: -10px;
  }

  .ss-about__price {
    padding: 10px;
  }

  .ss-about__price-item {
    width: 100%;
    margin: 20px 0;
    @include breakpoint(max-width 992px){
      margin: 0;
    }
  }


  .ss-banks__suggestions-items {
    width: 100%;
    border: none;
  }

  .ss-action__item {
    width: 100%;
  }

  .ss-footer__contacts {
    justify-content: flex-start;
    .phone {
      text-align: left;
    }
  }

  .ss-action__item {
    font-size: 22px;
  }



}