.tab-partners {
	flex-wrap: wrap;
	padding: 0;

	&__content-wrap {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	&__content-btn {
		display: block;
		width: 170px;
		padding: 10px 0;
		text-align: center;
		color: $gold;
		background-color: transparent;
		border: 1px solid $gold;
		transition: all 0.2s;

		&:hover, &:active, &:focus {
			color: #fff;
		  	background-color: #b89855;
		  	transform: scale(1.05);
		  	transition: all 0.2s;
		}
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin-top: 20px;
		color: #fff;
		&-text {
			display: flex;
			flex-direction: column;
			margin-top: 25px;
			@include breakpoint(max-width 992px) {
				margin-top: 10px;
			}
			&-name {
				margin-top: 5px;
				font-size: 16px;
				text-transform: uppercase;
			}
			&-desc {
				margin-top: 10px;
				font-size: 22px;
			}
			&-foot {
				margin-top: auto;
				color: red;
				font-size: 14px;
			}
		}
		&-label {
			width: 50%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			&:first-of-type {
				border-right: 1px solid red;
			}
			&-title {
				font-size: 14px;
			}
			&-body {
				font-size: 32px;
			}
		}
	}



	&__content-block {
		display: flex;
		flex-direction: column;
		width: 32.6%;
		height: 250px;
		margin-top: 20px;
		margin-right: 1%;
		background-color: #9b0028;

		&:nth-child(3n) {
			margin-right: 0;
		}

		&_sber {
			background-color: #4ce478;

			.tab-partners__content-block-bottom {
				border-top: 1px solid #8de39f;
			}

			.tab-partners__content-label:first-child {
				border-right: 1px solid #8de39f;
			}

			.tab-partners__content-img {
				background-color: transparent;
			}
		}

		&_vtb,
		&_rebirth {
			background-color: #00a0e3;

			.tab-partners__content-block-bottom {
				border-top: 1px solid #00b8e1;
			}

			.tab-partners__content-label:first-child {
				border-right: 1px solid #00b8e1;
			}
		}

		@include breakpoint(max-width 1600px) {
			height: 300px;
		}

		@include breakpoint(max-width 1200px) {
			width: 49%;
			margin-top: 10px;

			&:nth-child(3n) {
				margin-right: 1%;
			}

			&:nth-child(2n) {
				margin-right: 0;
			}
		}

		@include breakpoint(max-width 768px) {
			width: 100%;
			margin-right: 0;

			&:nth-child(3n) {
				margin-right: 0;
			}
		}

		@include breakpoint(max-width 400px) {
			height: 330px;
		}

		&_small {
			align-items: center;
			height: auto;
			background-color: #fff;
			flex-direction: row;
		}
		
		&-top {
			padding: 5px;
			display: flex;
			height: 60%;
			min-height: 100px;
		}
		&-bottom {
			display: flex;
			height: 40%;
			border-top: 1px solid red;
		}

		
	}

	&__content-blocks {
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: 800px;
		@include breakpoint(max-width 1200px) {
			flex-direction: column;
			.tab-partners__content-block_small {
				margin: 5px 0;
			}
		}
	}


	&__content-img {
		padding: 20px;
		margin: 15px;
		object-fit: contain;
		display: block;
		height: 80px;
		width: 80px;
		background-color: #fff;
		border-radius: 50%;

		&_small {
			width: 28px;
			height: 28px;
			margin: 0;
			margin-right: 20px;
			padding: 0;
			border-radius: inherit;
		}
	}

	&__nav {
		display: flex;
		margin-top: 20px;
	}
}

.hypothec {
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
}