.apartment {
	flex-direction: column;
	align-items: center;
	overflow-x: auto;

	.ui-slider-range {
		background: #b89855;
	}

	.ui-slider {
		background: #999;
	}

	.property-selection__numbers {
		background-color: #EEEEEE
	}

	.active {
		background-color: white;
		border: 1px solid #b89855;
	}

	&__sliders {
		display: flex;
		justify-content: space-between;
		width: 100%;

		@include breakpoint(max-width 992px) {
			flex-wrap: wrap;
		}
	}

	&__slider {
		width: 45%;

		@include breakpoint(max-width 992px) {
			width: 98%;
			margin-top: 50px;

			&:first-child {
				margin-top: 0;
			}
		}

		@include breakpoint(max-width 576px) {
			width: 94%;
		}

		.property-selection__range-slide {
			width: 100%;
		}

		.title-range {
			margin-right: 10px;
			color: #b89855;
			font-size: 14px;
			font-family: Lato-Bold;
		}
	}
}
.apartment__filter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 60px;

	.property-selection__rooms {
		margin-top: 0;
		margin-right: 20px;
	}
}
.calc__btn_apartment {
	margin-top: 0;
	@include breakpoint(max-width 604px) {
		margin-top: 20px;	
	}
}
.apartment__table {
	margin: 20px auto;
	margin-top: 50px;
	border-collapse: collapse;
}
.apartment__table-th,
.apartment__table-td {
	padding: 10px 15px;
	border: 1px solid $gold;
}
