.apartment {
	overflow-x: auto;
}
.apartment__table {
	margin: 20px auto;
	border-collapse: collapse;
}
.apartment__table-th,
.apartment__table-td {
	padding: 10px 15px;
	border: 1px solid $gold;
}

.apartment__table-th {
	cursor: pointer;
	
	&:after {
		content: '\25B4 \25BE';
	}
}

.headerSortDown {
	padding-right: 29px;
	&:after {
		content: '\25BE';
	}
}

.headerSortUp {
	padding-right: 29px;
	&:after {
		content: '\25B4';
	}
}